$color-primary: #0074d9;
$color-secondary: #7fdbff;
$color-tertiary: #39cccc;

$breakpoint: (
  2xs: "245px",
  xs: "345px",
  sm: "576px",
  md: "768px",
  lg: "992px",
  xl: "1200px",
  xxl: "1400px",
  3xl: "1600px",
);
